.admin-search {
    display: flex;
    gap: 1em;
    margin-left: 4.3em;
    margin-bottom: 1.9em;
}

.search-button{
    width: 2.6em;
    height: 2.6em;
}

button{
    width: 2.12em;
    height: 2.12em;
    border: none;
    background-color: var(--light-bg-solid);
    cursor: pointer;
}

.buscador{
    height:2.8em;
    width: 33em;
    border-radius: 2px solid var(--dark-bg-solid);
}

::placeholder {
    padding-left: 1.2em;
    font-family: var(--base-font-);
    font-size: var(--font-xsmall);
    color: #B9B9B9;
}

.admin-container{
    margin-left: 4.3em;
    margin-right: 10em;
}

.table_header{
    display: flex;
    justify-content: space-between;
}

.admin-btn-plus{
    display: flex;
    align-self: flex-end;
    gap: 1.8em;
}

.section-container{
    display: flex;
    flex-direction: column;
}

table {
    margin-left: 4.3em;
    margin-bottom: 2.5em;
    align-items: center;
    justify-content: space-between;
}

th, td{
    font-size: var(--font-small);
    text-align: left;
    padding: 0.5em;
}

.pencil_trash{
    display: flex;
    gap: 3.1em;
}