.container-cart{
    margin-top: 6.25em;
    margin-left: 6.9em;

}

.titulo-carrito{
    font-size: var(--font-xlarge);
    padding-bottom: 0.6em;
    border-bottom: 0.3em solid var(--primario-solido);
    width: 22em;
}

.cart-container{
    margin-top: 4.3em;
}

.cart-head{
    display: flex;
    font-size: var(--font-xsmall);
    background-color: var(--light-bg-solid);
    width: 69em;
    padding: 0.6em;
    border-radius: 0.6em;
    box-shadow: 0px 0px 0.93em 0.12em var(--dark-300);
    margin-bottom: 30px; 
}

.item-cart-head1{
    padding-left: 4.4em;
}

.item-cart-head2{
    padding-left: 16.9em;
}

.item-cart-head3{
    padding-left: 15.5em;
}

.logo-prod{
    width: 7.5em;
    padding-top:1em;
}

.text-cart{
    margin: 1.9em 1em 1.25em;
}

.text-cart > h1{
    font-size: var(--font-small);
    padding-bottom: 0.3em
}

.text-cart > p{
    font-size: var(--font-xxsmall);
    padding-bottom: 1.25em;
}

.cart-cantidad{
    display: flex;
    font-size: var(--font-xsmall);
    color: var(--secundario-solido);
    font-weight: 300;
    gap: 1rem;
    align-items: center;
    margin-left: 5.6em;
  }

.cart-input{
    font-size: var(--font-xsmall);
    font-weight: bold;
    color: var(--dark-solido);
    border: 1px solid #C9C9C9;
    border-width: thin;
    width: 5.6em;
    height: 2.5em;
    text-align: center;
    margin-top: 3.5em;
    margin-left: 1.9em;
}

.cart-btns{
    display: flex;
    flex-direction: column-reverse;
    gap: 0.3rem;
    margin-top: 3.1em;
}

.cart-mm{
    color: var(--light-solid-font);
    background-color: var(--primario-900);
    border: none;
    width: 1.1em;
    height: 1em;
}

.cart-cantidad2{
    display: flex;
    font-size: var(--font-xsmall);
    color: var(--secundario-solido);
    font-weight: 300;
    gap: 1rem;
    align-items: center;
    margin-left: 13.1em;
  }

.price-cart{
    margin-top: 3.4em;
    margin-left: 10.6em;
}

.eliminar-cart{
    margin-top: 3.4em;
    width: 1.75em;
    margin-left: 6.8em;
}

.resumen-cart{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 8.75em;
    margin-top: 3.1em;
}

.titulo-resumen{
        font-size: var(--font-xlarge);
        padding-bottom: 0.6em;
        border-bottom: 0.3em solid var(--primario-solido);
        width: 9.3em;
}

.cart-articulos{
    display: flex;
    margin-top: 3.1em;
    font-size: var(--font-xxsmall);
    background-color: var(--light-bg-solid);
    width: 35.8em;
    padding: 1.9em;
    border-radius: 0.6em;
    box-shadow: 0px 0px 1em 0.15em var(--dark-300);
    margin-bottom: 3.1em; 
}

.fila-articulos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:21em;
}

.fila-articulos>td{
    margin-bottom: 1em;
    font-size: var(--font-xxsmall);
    font-family: var(--base-font);
    font-weight: 600;
}

.total-cart{
    border-top: 2px solid var(--primario-solido);
    padding-top: 0.6em;
    font-weight: 700;
    font-size: var(--font-xsmall);
    width: 32em;
}

.btn-pagar {
    background-color: var(--primario-solido);
      color: var(--light-solid-font);
      border: none;
      display:inline;
      padding: var(--spacing-8) var(--spacing-16);
      font-size: var(--font-medium);
      font-family: var(--primary-font);
      transition: background .3s ease-in-out;
      position: relative;
      margin-bottom: 6.25em;
      width: 35.75em;
      height: 2.8em;
      font-weight: 700;
    }