main {
    display: flex;
    flex-direction: column;
    margin-top: 2.25em;

}

form {
    width: 82%;
    align-items: left;
    margin-left: 0;
}

h1 {
    font-size: 2.6em;
    font-family: var(--second-font);
    font-weight: 700;
}

textarea {
    margin-top: 2.2em;
    width: 82%;
    height: 12.2em;
    font-size: var(--font-medium);
    font-family: var(--base-font);
    font-weight: 400;
    border-radius: 4px;
}

.main-title {
    font-size: var(--font-jumbo);
    font-family: var(--second-font);
    font-weight: 700;
    margin-top: 2.2em;
}

.main-article {
    margin-top:  var(--spacing-28);
    justify-content: space-between;
}

.main-article label {
    flex: 1;
    text-align: left;
    font-family: var(--base-font);
    font-weight: 400;
    font-size: var(--font-large);
    color: var(--dark-solido);
    gap: var(--spacing-12);
}

input[type="text"],
input[type="number"] {
    flex: 2;
    border: none;
    border-bottom: 2px solid var(--primario-solido);
    padding: 2px;
    font-size: var(--font-medium);
    font-family: var(--base-font);
    font-weight: 400;
    gap: var(--spacing-12);
    margin-left: 0.6em;
    margin-right: 3.1em;
}

input[type="submit"],
input[type="button"]{
    background-color: var(--primario-solido);
    color: white;
    border: none;
    padding: 0.6em 1.2em;
    font-size: var(--font-xsmall);
    cursor: pointer;
    margin-bottom: 2.2em;
    width: 11em;
    height: 2.75em;

}

.main-article .form-label {
    font-size: var(--font-large);
    font-family: var(--base-font);
    font-weight: 400;
    margin-top: 2.75em;
}

.form-label {
    font-size: var(--font-large);
    font-family: var(--base-font);
    font-weight: 400;
    text-align: left;
    margin-top: 3.7em;
}

input [type="file"] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--font-xsmall);
}

#licencia,
#categoria {
    border-radius: 0.25em;
    padding: 0.12em;
    width: 15.2em;
    height: 2.75em;
    margin-left: 0.6em;
    margin-right: 1.5em;
}

#cuotas {
    border-radius: 0.25em;
    padding: 2px;
    width: 18.5em;
    height: 2.75em;
}

#sku,
#precio {
    width: 8em;
}

#stock,
#descuento {
    width: 3.5em;
}

#nombre {
    width: 18.5em;
    height: 1.2em;
}


.create-input {
    font-size: var(--font-medium);
    font-family: var(--base-font)
}
.create{
    margin-left: 20%;
}
.nav-edit{
    display: flex;
    justify-content: space-between;
}
.items-nav-edit{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--second-font);
    font-size: var(--font-xsmall);
    color: var(--light-solid-font);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.cuerpo-edit{
    margin:  var(--spacing-36)var(--spacing-68);
    

}
.titulo-edit{
    margin: var(--spacing-12) 0;
    color: var(--dark-solido);
    font-family: var(--second-font);
    font-size: var(--font-xlarge);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.68px;
}
.primer-linea-edit{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: var(--spacing-36) 0
}
.categoria-edit, .licencia-edit{
    color: var(--dark-solido);
    font-family: var(--base-font);
    font-size: var(--font-small);
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.96px;
}
#categoria, #licencia, #cuotas{
    border: var(--dark-solido) 1px solid;
    border-radius: 7%;
    width: 15em;
    margin-left: var(--spacing-8);
    color: var(--dark-solido);
    font-family: var(--base-font);
    font-size: 1.25em;
    font-weight: 500;
}
.nombre_producto_edit{
    color: var(--dark-solido);
    font-family: var(--base-font);
    font-size: var(--font-small);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.96px;
    margin-bottom: var(--spacing-20);
}
#nombre_prod{
    color: var(--dark-solido);
    font-family: var(--base-font);
    font-size: 1.2em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: var(--primario-900) 2px solid underline;
    }
#descripcion{
    width: 63em;
    height: 12.17em;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--dark-solido);
    color: var(--dark-solido);
    font-family: var(--base-font);
    font-size: var(--font-xsmall);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.96px;
    text-align: left;
    margin-bottom: var(--spacing-12);
}
.sku_precio_stock_edit{
    margin-bottom: var(--spacing-36);    
    display: flex;
    gap: 0.8em;
    
}
.sku-edit{
    color: var(--dark-solido);
    font-family: var(--base-font);
    font-size: var(--font-small);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.96px;
}
.sku_value_edit{
    width: 15rem;
    color: var(--dark-solido);
    font-family: var(--base-font);
    font-size: var(--font-xsmall);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.72px;
    text-decoration: var(--primario-900) 2px solid underline;
}
#cuotas{
    width: 21.6em;
}
.descuento_edit{
    margin-bottom: var(--spacing-36);
}
.elegir_edit{
    font-size: 1.1em;
}
.elegir_img_edit{
    margin-bottom: var(--spacing-16);
}
.edit-input {
    color: var(--dark-solido);
}

.img_frente_edit{
    margin-right: var(--spacing-16);
}

.img_edit{
    width: 15em;
}
.input_mod_edit{
    margin-top: 5em;
    background-color: var(--primario-900);
    width: 17em;
    padding: var(--spacing-12) var(--spacing-20);
    color: var(--light-solid-font);
    font-family: var(--base-font);
    font-size: var(--font-xsmall);
    font-weight: 600;
    transition: all 0.5 ease-in-out;
}
.input_mod_edit:hover{
    background-color: var(--dark-bg-solid);
    color: var(--primario-900);

}

.link_edit{
    padding: var(--spacing-8) var(--spacing-16);
    transition: background 0.5 ease-in-out;
}
.link_edit:hover{
    background-color: var(--primario-900);
}
.edit-modificar {
background-color: var(--primario-solido);
  color: var(--light-solid-font);
  border: none;
  display:inline;
  padding: var(--spacing-8) var(--spacing-16);
  font-size: var(--font-xsmall);
  font-family: var(--primary-font);
  transition: background .3s ease-in-out;
  position: relative;
  margin-bottom: 2.5em;
  width: 11em;
  height: 2.75em;
  font-weight: bold;
  margin-right: 1.2em;
}

.edit-modificar:hover{
    background-color: var(--primario-900);
  }

/*css contacto*/
.contacto{
    margin:  var(--spacing-36)var(--spacing-68);
}
.titulo-contacto{
    margin: var(--spacing-12) 0;
    color: var(--dark-solido);
    font-family: var(--second-font);
    font-size: var(--font-xlarge);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.68px;
}
.lista-contacto{
    color: var(--dark-solido);
    font-family: var(--second-font);
    font-size: var(--font-large);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.68px;
}
.lista-contacto li{
    margin: var(--spacing-36);
}
.logo-whats{
    width: 2%;
}