/* Estilizar el título */
main {
    display: flex;
    flex-direction: column;
    
}

form {
    max-width: 60em;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.main-section {
    margin: 10em 0;
    gap: 10em;
    width: auto;
    align-items: center;
    text-align: center;
}

.main-title {
    font-family: var(--second-font);
    font-size: 2.6em;
    margin: 2em;
    font-weight: 700;
}

/* Estilizar los articles dentro de main */
.main-article {
    display: flex;
    justify-content: space-between;
    margin: 3em;
    align-items: center;
}

/* Estilizar los labels dentro de main-article */
.main-article label {
    flex: 1;
    text-align: left;
    margin-right: 1.2em;
    font-family: var(--base-font);
    font-weight: 400;
    font-size: var(--font-large);
    color: var(--dark-solido);
}

/* Estilizar los inputs dentro de main-article */
.main-article input[type="email"],
.main-article input[type="password"] {
    flex: 2;
    border: none;
    border-bottom: 2px solid red;
    padding: 0.3em;
    width: 100%;
    font-size: var(--font-small);
    font-family: var(--base-font);
    font-weight: 400;
}

input[type="submit"] {
    text-align: center;
    background-color: var(--primario-solido);
    color: white;
    border: none;
    padding: 0.6em 1.5em;
    font-size: var(--font-xsmall);
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

#remember {
    margin-left: 2.6em;
    display: inline-block;
    width: auto;
    margin-right: 0.6em;
    font-weight: 400;
    font-size: var(--font-xsmall);
}

.main-link {
    text-align: center;
    display: block;
    margin: 1.2em 2.2em;
    text-decoration: none;
    color: var(--secundario-solido);
    font-weight: 400;
    font-size: var(--font-xsmall);
    font-family: var(--second-font);
}